@page "/best-efforts"
@using Data.Models.Strava
@using Newtonsoft.Json
@using StravaDotNet.Components.Services
@inject DetailedActivityService detailedActivityService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3>Best Efforts</h3>

<form>
    <button type="button" class="btn btn-secondary" margin-right:30px @onclick="LoadData">Load Data</button>
</form>
@if (detailedEfforts != null)
{
    <canvas id="Best5k" width="100" height="50"></canvas>
    <canvas id="Best10k" width="100" height="50"></canvas>
}

@code {
    private List<DetailedSegmentEffort> detailedEfforts;

    private async Task LoadData()
    {
        detailedEfforts = await detailedActivityService.GetDetailedSegmentEffortsAsync();
        PlotEfforts("5K");
        PlotEfforts("10K");

    }

    private async void PlotEfforts(string distance)
    {
        if (detailedEfforts != null)
        {
            List<DetailedSegmentEffort> selectedEfforts = detailedEfforts.Where(da => da.Name == distance).ToList();
            StateHasChanged();
            PlotScatterChartEfforts(selectedEfforts);
        }
    }

    private void PlotScatterChartEfforts(List<DetailedSegmentEffort> efforts)
    {
        var minDate = efforts.Min(da => da.StartDate);
        var maxDate = efforts.Max(da => da.StartDate);

        var data = efforts.Select(da => new
        {
            x = da.Distance / 1000,
            y = Math.Round((decimal)((da.Distance / da.MovingTime) * 3.6), 3),
            date = da.StartDate?.ToString("yyyy-MM-dd"),
            color = GetColorForDate(da.StartDate, minDate, maxDate)
        }).ToList();

        var jsonData = JsonConvert.SerializeObject(data);

        JSRuntime.InvokeVoidAsync("plotScatterChart", jsonData, "Run");
    }

    private string GetColorForDate(DateTime? date, DateTime? minDate, DateTime? maxDate)
    {
        if (date == null || minDate == null || maxDate == null)
            return "rgba(75, 192, 192, 0.2)"; // Default color

        var totalDays = (maxDate.Value - minDate.Value).TotalDays;
        var daysFromStart = (date.Value - minDate.Value).TotalDays;
        var ratio = daysFromStart / totalDays;

        // Calculate color based on ratio (0.0 to 1.0)
        var red = (int)(255 * ratio);
        var green = (int)(192 * (1 - ratio));
        var blue = 192;

        return $"rgba({red}, {green}, {blue}, 0.8)";
    }

}
