@page "/best-efforts"
@using Data.Models.Strava
@using Newtonsoft.Json
@using StravaDotNet.Components.Services
@inject DataRetrievalService dataRetrievalService
@inject PlottingHelperService plottingHelperService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3>Best Efforts</h3>

<form class="load-data-form">
    <button type="button" class="btn btn-secondary" margin-right:30px @onclick="LoadData">Load Data</button>
</form>
@if (detailedEfforts != null)
{
        <div class="canvas-container">
        @foreach (var distance in distances)
        {
                    <div class="canvas-wrapper">
                        <canvas id="@GetCanvasId(distance)"></canvas>
                    </div>
        }
        </div>
}

@code {
    private List<DetailedSegmentEffort>? detailedEfforts;
    private bool isDataLoaded = false;
    private readonly List<string> distances = new() { "400m", "1K", "2 mile", "5K", "10K", "15K" };
    private HashSet<string> initializedCanvasIds = new();

    private async Task LoadData()
    {
        detailedEfforts = await dataRetrievalService.GetAllSegmentEffortsAsync();
        isDataLoaded = true;
        StateHasChanged(); // Trigger re-render to ensure the canvas elements are added to the DOM
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isDataLoaded)
        {
            foreach (var distance in distances)
            {
                var canvasId = GetCanvasId(distance);
                if (!initializedCanvasIds.Contains(canvasId))
                {
                    await PlotEfforts(distance, canvasId);
                    initializedCanvasIds.Add(canvasId);
                }
            }
            isDataLoaded = false; // Reset the flag to prevent repeated calls
        }
    }

    private async Task PlotEfforts(string distance, string canvasId)
    {
        if (detailedEfforts != null)
        {
            List<DetailedSegmentEffort> selectedEfforts = detailedEfforts.Where(da => da.Name == distance && da?.PrRank == 1).ToList();
            await PlotMonthlyScatterChartEfforts(selectedEfforts, canvasId);
        }
    }

    private async Task PlotMonthlyScatterChartEfforts(List<DetailedSegmentEffort> efforts, string canvasId)
    {
        var data = dataRetrievalService.GetScatterChartDataForEfforts(efforts);
        var jsonData = JsonConvert.SerializeObject(data);

        await JSRuntime.InvokeVoidAsync("plotMonthlyScatterChart", jsonData, canvasId);
    }

    private string GetCanvasId(string distance) => $"canvas-{distance.Replace(" ", "-")}";
}



<style>
    .load-data-form {
        margin-bottom: 20px;
    }

    .canvas-container {
        display: flex;
		flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .canvas-wrapper {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    canvas {
        width: 100% !important;
        height: auto !important;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>
