@page "/best-efforts"
@using Data.Models.Strava
@using Newtonsoft.Json
@using StravaDotNet.Components.Services
@inject DetailedActivityService detailedActivityService
@inject SegmentEffortService segmentEffortService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3>Best Efforts</h3>

<form class="load-data-form">
    <button type="button" class="btn btn-secondary" margin-right:30px @onclick="LoadData">Load Data</button>
</form>
@if (detailedEfforts != null)
{
    <div class="canvas-container">
        <div class="canvas-wrapper">
            <canvas id="Best400m"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="Best1k"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="Best2Mile"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="Best5k"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="Best10k"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="Best15k"></canvas>
        </div>
    </div>
}

@code {
    private List<DetailedSegmentEffort> detailedEfforts;

    private async Task LoadData()
    {
        detailedEfforts = await detailedActivityService.GetDetailedSegmentEffortsAsync();
        PlotEfforts("400m", "Best400m");
        PlotEfforts("1K", "Best1k");
        PlotEfforts("2 mile", "Best2Mile");
        PlotEfforts("5K", "Best5k");
        PlotEfforts("10K", "Best10k");
        PlotEfforts("15K", "Best15k");

    }

    private async void PlotEfforts(string distance, string canvasId)
    {
        if (detailedEfforts != null)
        {
            List<DetailedSegmentEffort> selectedEfforts = detailedEfforts.Where(da => da.Name == distance && da?.PrRank == 1).ToList();
            StateHasChanged();
            PlotMonthlyScatterChartEfforts(selectedEfforts, canvasId);
        }
    }

    private void PlotMonthlyScatterChartEfforts(List<DetailedSegmentEffort> efforts, string canvasId)
    {
        var data = segmentEffortService.GetMonthlyScatterChartData(efforts);
        var jsonData = JsonConvert.SerializeObject(data);

        JSRuntime.InvokeVoidAsync("plotMonthlyScatterChart", jsonData, canvasId);
    }
}


<style>
    .load-data-form {
        margin-bottom: 20px;
    }

    .canvas-container {
        display: flex;
		flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .canvas-wrapper {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    canvas {
        width: 100% !important;
        height: auto !important;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>
