@page "/fetchdata"
@using Data.Models.Strava
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@code {
    private int userId;
    private DetailedActivity activity;
    private float? averageDistance;
    private float? averageSpeed;
    private bool isLoading = false;
    private bool isDataLoaded = false;

    private async Task GetActivitiesAsync()
    {
        isLoading = true;
        isDataLoaded = false;
        string requestUri = $"https://localhost:7237/api/Strava/GetActivitiesAsync?includeAllEfforts=true";
        try
        {
            var response = await Http.GetAsync(requestUri);
            
            List<DetailedActivity> activities = await response.Content.ReadFromJsonAsync<List<DetailedActivity>>();

            if (activities != null && activities.Count > 10)
            {
                activity = activities[0];
                averageDistance = activities.Where(a => a.Type == "Run").Take(10).Average(b => b.Distance) / 1000;
                averageSpeed = activities.Where(a => a.Type == "Run").Take(10).Average(b => b.AverageSpeed) * 3.6f;
            }
            isDataLoaded = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }
    private void TestMethod()
    {
        Console.WriteLine("TestMethod called");
    }
    private async Task ConnectToStrava() 
    { 
        try { 
            var response = await Http.GetAsync("https://localhost:7237/api/Strava/ConnectToStrava"); 
            if (response.IsSuccessStatusCode) 
            { 
                var jsonResponse = await response.Content.ReadFromJsonAsync<JsonResponse>(); 
                var stravaAuthUrl = jsonResponse.Url; // Perform the redirection 
                NavigationManager.NavigateTo(stravaAuthUrl, forceLoad: false);
            } else { 
                Console.WriteLine("Error calling ConnectToStrava"); 
            } 
        } catch (Exception ex) 
        { 
            Console.WriteLine($"Exception: {ex.Message}"); 
        } 
     }

    public class JsonResponse 
    { 
        public string Url { get; set; } 
    }

}

<div>
    <h4>Fetch Activity</h4>
    <form>
        <button type="button" class="btn btn-secondary" margin-right:30px @onclick="ConnectToStrava">Connect</button>
        <button type="button" class="btn btn-primary" @onclick="GetActivitiesAsync">Fetch Activity</button>

    </form>

    @if (isLoading)
    {
        <p>Loading...</p>
    }
    else if (isDataLoaded)
    {
        <h5>Activities retrieved!</h5>
        <div>            
            <h6>Average of last ten runs</h6>
            <p><strong>Distance:</strong> @averageDistance km</p>
            <p><strong>Speed:</strong> @averageSpeed km/h</p>
        </div>
        <div>
            <h6>Last activity Details</h6>
            <p><strong>Name:</strong> @activity.Name</p>
            <p><strong>Type:</strong> @activity.Type</p>
            <p><strong>Duration:</strong> @activity.ElapsedTime</p>
        </div>
    }
</div>
