@page "/heatmap"
@inject HttpClient Http
@using Contracts.DTOs
@using StravaDotNet.Components.Services
@inject PlottingHelperService plottingHelperService
@inject NavigationManager Navigation
@inject AuthState AuthState
@using DataManagement.Models
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using Data.Models.Strava
@inject Microsoft.Extensions.Options.IOptions<AppSettings> Options

@using System.Text.Json;
@rendermode InteractiveServer

<div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckRuns" @bind="includeRuns">
        <label class="form-check-label" for="flexCheckRuns">
            Runs
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckRides" @bind="includeRides">
        <label class="form-check-label" for="flexCheckRides">
            Rides
        </label>
    </div>
    <form>
        <button type="button" class="btn btn-primary" @onclick="GetHeatmap">Load heatmap</button>
    </form>
</div>
<div id="map" style="width: 100%; height: 700px;"></div>
<p>Number of activities plotted: @polylineCount</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isLoggedIn = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "isLoggedIn");
            AuthState.IsLoggedIn = isLoggedIn == "true";
            if (!AuthState.IsLoggedIn)
            {
                Navigation.NavigateTo("/", true);
            }
            else
            {
                StateHasChanged();
            }
        }
    }
    private List<string> encodedLines = new List<string>();
    private int polylineCount = 0;

    private List<LatLng> latLngs = new List<LatLng>();
    private HeatMapData heatMapData = new HeatMapData();
    private string heatMapDataString = "";
    private bool includeRuns = true;
    private bool includeRides = false;

    private async Task GetHeatmap()
    {
        try
        {
            string arguments = $"?runs={includeRuns}&rides={includeRides}";
            heatMapData = await Http.GetFromJsonAsync<HeatMapData>($"{Options.Value.BaseAddress}/api/Heatmap/GetHeatmap{arguments}");
            heatMapData.Input = PlottingHelperService.AddColorToHeatmap(heatMapData.Input);
            heatMapDataString = JsonSerializer.Serialize(heatMapData);
            encodedLines = heatMapData.Input.Select(i => i.EncodedPolyline).ToList();

            await InitializeMap();
            polylineCount = encodedLines.Count;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }

    }

    private async Task InitializeMap()
    {
        await JSRuntime.InvokeVoidAsync("initializeHeatMap", heatMapDataString);
    }
}