@page "/heatmap"
@inject HttpClient Http
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@using System.Text.Json;
@rendermode InteractiveServer

<h3>Heatmap</h3>
<div>
    <form>
        <button type="button" class="btn btn-primary" @onclick="GetHeatmap">Load heatmap</button>
    </form>
</div>
<div id="map" style="width: 100%; height: 400px;"></div> <!-- Update to a div with appropriate dimensions -->
@code {
    private List<string> polylines = new List<string>();

    private IJSObjectReference? module;
    private string? result;

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JSRuntime.InvokeVoidAsync("load_map"); // Ensure correct invocation
    //     }
    // }

    private async Task GetHeatmap()
    {
        try
        {
            polylines = await Http.GetFromJsonAsync<List<string>>("https://localhost:7237/api/Heatmap/GetHeatmap");
            await InitializeMap();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }

    private async Task InitializeMap()
    {
        await JSRuntime.InvokeVoidAsync("initializeHeatMap", polylines);
    }

    public class JsonResponse
    {
        public string Url { get; set; }
    }
}


