@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using Contracts.Interfaces
@using Services
@inject NavigationManager Navigation
@inject AuthState AuthState
@inject IAuthService AuthService
@rendermode InteractiveServer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> Options

<PageTitle>Home</PageTitle>

<form>
    <button type="button" style="border: none; background: none; padding: 0;" @onclick="ConnectToStrava">
        <img src="images/btn_strava_connect_with_white.png" alt="Connect to Strava" style="height: 48px; cursor: pointer;" />
    </button>
	<br />
    <br/>
    <button type="button" class="btn btn-secondary" @onclick="Disconnect">Disconnect</button>
</form>

@code {
    protected override async Task OnInitializedAsync()
    {
        IStravaUser user = await AuthService.ValidateCredentialsAsync();
        int secondsEpoch = int.Parse(user.AccessTokenExpiresAt);
        DateTime tokenExpiryDateTime = new DateTime(1970, 1, 1).AddSeconds(secondsEpoch);

        AuthState.IsLoggedIn = tokenExpiryDateTime > DateTime.UtcNow;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "isLoggedIn", AuthState.IsLoggedIn.ToString().ToLower());
        }
    }
    private async Task ConnectToStrava()
    {
        try
        {
            var response = await Http.GetAsync($"{Options.Value.BaseAddress}/api/Strava/ConnectToStrava");
            if (response.IsSuccessStatusCode)
            {
                var jsonResponse = await response.Content.ReadFromJsonAsync<JsonResponse>();
                var stravaAuthUrl = jsonResponse.Url; // Perform the redirection
                await JSRuntime.InvokeVoidAsync("eval", $"let _discard_ = open(`{stravaAuthUrl}`, `_blank`)");
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "isLoggedIn", "true");
                AuthState.IsLoggedIn = true;
                Navigation.NavigateTo("/", true);
            }
            else
            {
                AuthState.IsLoggedIn = false;
                Console.WriteLine("Error calling ConnectToStrava");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }

    private async Task Disconnect()
    {
		await AuthService.RemoveCredentialsAsync();
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "isLoggedIn", "false");
        AuthState.IsLoggedIn = false;
        Navigation.NavigateTo("/", true);
		StateHasChanged();
	}

    public class JsonResponse
    {
        public string Url { get; set; }
    }
}