@page "/predictor"
@using Contracts.DTOs
@using StravaDotNet.Components.Services
@using StravaDotNet.ViewModels
@using Statistics.Models
@inject NavigationManager Navigation
@inject AuthState AuthState
@inject DataRetrievalService dataRetrievalService
@inject PlottingHelperService plottingHelperService
@inject DetailedActivityService activityService
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject StatsService StatsService

<form class="load-data-form">
    <button type="button" class="btn btn-secondary" margin-right:30px @onclick="CallStatic">Load Data</button>
</form>
@if (activityVms != null)
{
    <div class="canvas-container">
        @foreach (var canvasId in canvasIds)
        {
            <div class="canvas-wrapper">
                <canvas id="@canvasId"></canvas>
            </div>
        }
    </div>

    @if (summaryStats != null)
    {
        <div>
            <p>RMSE: @summaryStats.RMSE.ToString("F2")</p>
            <p>R²: @summaryStats.R2.ToString("F3")</p>
            <p>Average Error: @summaryStats.AverageError.ToString("F2")</p>
        </div>
    }
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isLoggedIn = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "isLoggedIn");
            AuthState.IsLoggedIn = isLoggedIn == "true";
            StateHasChanged();
        }
    }
    private List<ActivityDTO>? myActivities;
    private List<ActivityVm>? activityVms;
	private StatsVm? summaryStats;
    private readonly List<string> canvasIds = new()
    {
        "scatterPlotHR"
    };

    private async Task CallPython()
    {
        // Not implemented yet
        if (myActivities == null)
        {
            myActivities = await dataRetrievalService.GetAllActivitiesAsync();
        }
        var result = await StatsService.PredictAsync(myActivities);
        // handle result
    }

    private async Task CallStatic()
    {

        if (myActivities == null)
        {
            myActivities = await dataRetrievalService.GetAllActivitiesAsync();
        }
        List<ActivityForStats> statsActivities = await StatsService.PredictStaticAsync(myActivities);
        summaryStats = StatsService.CalculateSummaryStats(statsActivities);

        activityVms = activityService.ConvertStatsToVm(statsActivities);
        await InvokeAsync(StateHasChanged);
        // Load plot
        var data = plottingHelperService.PrepareScatterPlotData(
                    activityVms,
					a => (float?)a.PredictedHR, // X-axis: Predicted heart rate
                    a => a.AverageHeartRate, // Y-axis: Actual heart rate
                    a => PlottingHelperService.GetColorForDate(a.Activity.StartDate, activityVms.Min(a => a.Activity.StartDate), activityVms.Max(a => a.Activity.StartDate)),
                    a => DateOnly.FromDateTime((DateTime)a.Activity.StartDate) // Tooltip: Date
                    );

        await JSRuntime.InvokeVoidAsync("plotScatterChartWithLine", data, "scatterPlotHR", "Predicted heart rate" ,"Measured heart rate");
    }
}

<style>
    .load-data-form {
        margin-bottom: 20px;
    }

    .canvas-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .canvas-wrapper {
        flex: 1 1 calc(80% - 20px);
        max-width: calc(80% - 20px);
    }

    canvas {
        width: 100% !important;
        height: auto !important;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>