@page "/detailed-activity-plots"
@using Data.Models.Strava
@using StravaDotNet.ViewModels
@using Newtonsoft.Json
@using StravaDotNet.Components.Services
@inject PlottingHelperService plottingHelperService
@inject NavigationManager Navigation
@inject AuthState AuthState
@inject DataRetrievalService dataRetrievalService
@inject PlottingHelperService plottingHelperService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<form class="load-data-form">
    <button type="button" class="btn btn-secondary" margin-right:30px @onclick="LoadData">Load Data</button>
</form>
@if (activityVms != null)
{
    <div class="canvas-container">
        @foreach (var canvasId in canvasIds)
        {
            <div class="canvas-wrapper">
                <canvas id="@canvasId"></canvas>
            </div>
        }
    </div>
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isLoggedIn = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "isLoggedIn");
            AuthState.IsLoggedIn = isLoggedIn == "true";
            if (!AuthState.IsLoggedIn)
            {
                Navigation.NavigateTo("/", true);
            }
            else
            {
                StateHasChanged();
            }
        }
    }
    private List<ActivityVm>? activityVms;
    private readonly List<string> canvasIds = new()
    {
        "scatterPlotRun",
        "scatterPlotRide",
        "heartRatePlotRun",
		"heartRatePlotRide",
        "stackedBarsMonths",
        "stackedBarsHours",
        "cumulativeRunDistance",
        "cumulativeRideDistance",
		"cumulativeSwimDistance",
		"cumulativeHoursTotal"
    };
    private HashSet<string> initializedCanvasIds = new();

    private async Task LoadData()
    {
        activityVms = await dataRetrievalService.GetAllActivityVmsAsync();
        StateHasChanged(); // Trigger re-render to ensure the canvas elements are added to the DOM
        await PlotAllCharts();
    }

    private async Task PlotAllCharts()
    {
        if (activityVms != null)
        {
            await PlotChartIfNotInitialized("scatterPlotRun", () => PlotSpeed("Run"));
            await PlotChartIfNotInitialized("scatterPlotRide", () => PlotSpeed("Ride"));
            await PlotChartIfNotInitialized("heartRatePlotRun", () => PlotHeartRate("Run"));
            await PlotChartIfNotInitialized("heartRatePlotRide", () => PlotHeartRate("Ride"));
            await PlotChartIfNotInitialized("stackedBarsMonths", PlotMonthlyActivities);
            await PlotChartIfNotInitialized("stackedBarsHours", PlotHourlyActivities);
            await PlotChartIfNotInitialized("cumulativeRunDistance", () => PlotCumulativeActivities("Run"));
            await PlotChartIfNotInitialized("cumulativeRideDistance", () => PlotCumulativeActivities("Ride"));
            await PlotChartIfNotInitialized("cumulativeSwimDistance", () => PlotCumulativeActivities("Swim"));
            await PlotChartIfNotInitialized("cumulativeHoursTotal", () => PlotCumulativeActivities("All"));
        }
    }

    private async Task PlotChartIfNotInitialized(string canvasId, Func<Task> plotFunction)
    {
        if (!initializedCanvasIds.Contains(canvasId))
        {
            await plotFunction();
            initializedCanvasIds.Add(canvasId);
        }
    }

    private async Task PlotSpeed(string activityType)
    {
        if (activityVms == null || !activityVms.Any(a => a.Activity.Type == activityType))
        {
            return; // No activities of the specified type to plot
        }
        var selectedActivities = activityVms.Where(a => a.Activity.Type == activityType).ToList();
        var data = plottingHelperService.PrepareScatterPlotData(
            selectedActivities,
            a => a.Activity.Distance / 1000, // X-axis: Distance in km
            a => (a.Activity.Distance / a.Activity.MovingTime) * 3.6, // Y-axis: Speed in km/h
            a => PlottingHelperService.GetColorForDate(a.Activity.StartDate, activityVms.Min(a => a.Activity.StartDate), activityVms.Max(a => a.Activity.StartDate)),
            a => DateOnly.FromDateTime((DateTime)a.Activity.StartDate) // Tooltip: Date
        );

        await JSRuntime.InvokeVoidAsync("plotScatterChart", data, $"scatterPlot{activityType}", $"Average {activityType.ToLower()} speed (km/h)");
    }

    private async Task PlotHeartRate(string type)
    {
        if (activityVms == null || !activityVms.Any(a => a.Activity.Type == type))
        {
            return; // No activities of the specified type to plot
        }
        var selectedActivities = activityVms.Where(a => a.AverageHeartRate != 0 && a.Activity.Type == type).ToList();
        var data = plottingHelperService.PrepareScatterPlotData(
            selectedActivities,
            a => a.Activity.Distance / 1000, // X-axis: Distance in km
            a => a.AverageHeartRate, // Y-axis: Heart rate
            a => PlottingHelperService.GetColorForDate(a.Activity.StartDate, activityVms.Min(a => a.Activity.StartDate), activityVms.Max(a => a.Activity.StartDate)),
            a => DateOnly.FromDateTime((DateTime)a.Activity.StartDate) // Tooltip: Date
        );

        await JSRuntime.InvokeVoidAsync("plotScatterChart", data, $"heartRatePlot{type}", $"Average {type.ToLower()} heart rate");

    }

    private async Task PlotMonthlyActivities()
    {
		if (activityVms == null || !activityVms.Any(a => a.Activity.Type == "Run" || a.Activity.Type == "Ride" || a.Activity.Type == "Swim"))
		{
			return; // No activities of the specified types to plot
		}
        List<ActivityVm> selectedActivities = activityVms
            .Where(a => a.Activity.Type == "Run" || a.Activity.Type == "Ride" || a.Activity.Type == "Swim")
            .ToList();
        var data = plottingHelperService.PrepareMonthlyBarChartData(selectedActivities);
        await JSRuntime.InvokeVoidAsync("plotStackedBarChart", data, "stackedBarsMonths", "Year-Month");
    }

    private async Task PlotHourlyActivities()
    {  
		if (activityVms == null || !activityVms.Any(a => a.Activity.Type == "Run" || a.Activity.Type == "Ride" || a.Activity.Type == "Swim"))
		{
			return; // No activities of the specified types to plot
		}
        List<ActivityVm> selectedActivities = activityVms
            .Where(a => a.Activity.Type == "Run" || a.Activity.Type == "Ride" || a.Activity.Type == "Swim")
            .ToList();
        var data = plottingHelperService.PrepareHourlyBarChartData(selectedActivities);
        await JSRuntime.InvokeVoidAsync("plotStackedBarChart", data, "stackedBarsHours", "Hour of day");
    }

    private async Task PlotCumulativeActivities(string activityType)
    {
        List<ActivityVm> selectedActivities = new();
        var data = "";
        string plotId = "";
        string yAxisTitle = "";
        if (activityType == "All" && activityVms != null)
        {
            selectedActivities = activityVms;
            data = plottingHelperService.PrepareCumulativeTimeData(selectedActivities);
            plotId = "cumulativeHoursTotal";
			yAxisTitle = "Cumulative time (hours)";
        }
        else if (activityVms != null)
        {
            selectedActivities = activityVms.Where(a => a.Activity.Type == activityType).ToList();
            data = plottingHelperService.PrepareCumulativeDistanceData(selectedActivities);
            plotId = $"cumulative{activityType}Distance";
            yAxisTitle = $"Cumulative {activityType.ToLower()} distance (km)";
        }
        await JSRuntime.InvokeVoidAsync("plotLineChart", data, plotId, "Day/Month", yAxisTitle);
    }
}

<style>
    .load-data-form {
        margin-bottom: 20px;
    }

    .canvas-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .canvas-wrapper {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    canvas {
        width: 100% !important;
        height: auto !important;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>