@page "/detailed-activity-plots"
@using Data.Models.Strava
@using StravaDotNet.ViewModels
@using Newtonsoft.Json
@using StravaDotNet.Components.Services
@inject DataRetrievalService dataRetrievalService
@inject PlottingHelperService plottingHelperService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<h3>Detailed Activity Plots</h3>

<form class="load-data-form">
    <button type="button" class="btn btn-secondary" margin-right:30px @onclick="LoadData">Load Data</button>
</form>
@if (activityVms != null)
{
    <div class="canvas-container">
        <div class="canvas-wrapper">
            <canvas id="scatterPlotRun"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="scatterPlotRide"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="stackedBarsMonths"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="stackedBarsHours"></canvas>
        </div>
        <div class="canvas-wrapper">
            <canvas id="heartRatePlot"></canvas>
        </div>
    </div>
}

@code {
    private List<ActivityVm> activityVms;

    private async Task LoadData()
    {
        activityVms = await dataRetrievalService.GetAllActivitiesAsync();
        await PlotRunSpeed();
        await PlotRideSpeed();
        await PlotMonthlyActivities();
        await PlotHourlyActivities();
        await PlotHeartRate();
    }

    private async Task PlotRunSpeed()
    {
        if (activityVms != null)
        {
            var selectedActivities = activityVms.Where(a => a.Activity.Type == "Run").ToList();
            var data = plottingHelperService.PrepareScatterPlotData(
                selectedActivities,
                a => a.Activity.Distance / 1000, // X-axis: Distance in km
                a => (a.Activity.Distance / a.Activity.MovingTime) * 3.6, // Y-axis: Speed in km/h
                a => plottingHelperService.GetColorForDate(a.Activity.StartDate, activityVms.Min(a => a.Activity.StartDate), activityVms.Max(a => a.Activity.StartDate))
            );

            JSRuntime.InvokeVoidAsync("plotScatterChart", data, "scatterPlotRun");
        }
    }

    private async Task PlotRideSpeed()
    {
        if (activityVms != null)
        {
            var selectedActivities = activityVms.Where(a => a.Activity.Type == "Ride").ToList();
            var data = plottingHelperService.PrepareScatterPlotData(
                selectedActivities,
                a => a.Activity.Distance / 1000, // X-axis: Distance in km
                a => (a.Activity.Distance / a.Activity.MovingTime) * 3.6, // Y-axis: Speed in km/h
                a => plottingHelperService.GetColorForDate(a.Activity.StartDate, activityVms.Min(a => a.Activity.StartDate), activityVms.Max(a => a.Activity.StartDate))
            );

            await JSRuntime.InvokeVoidAsync("plotScatterChart", data, "scatterPlotRide");
        }
    }

    private async Task PlotHeartRate()
    {
        if (activityVms != null)
        {
            var selectedActivities = activityVms.Where(a => a.AverageHeartRate != 0 && a.Activity.Type == "Run").ToList();
            var data = plottingHelperService.PrepareScatterPlotData(
                selectedActivities,
                a => a.Activity.Distance / 1000, // X-axis: Distance in km
                a => a.AverageHeartRate, // Y-axis: Heart rate
                a => plottingHelperService.GetColorForDate(a.Activity.StartDate, activityVms.Min(a => a.Activity.StartDate), activityVms.Max(a => a.Activity.StartDate))
            );

            await JSRuntime.InvokeVoidAsync("plotScatterChart", data, "heartRatePlot");
        }
    }

    private async Task PlotMonthlyActivities()
    {
        if (activityVms != null)
        {
            var data = plottingHelperService.PrepareMonthlyBarChartData(activityVms);
            await JSRuntime.InvokeVoidAsync("plotStackedBarChart", data, "stackedBarsMonths", "Year-Month");
        }
    }

    private async Task PlotHourlyActivities()
    {
        if (activityVms != null)
        {
            var data = plottingHelperService.PrepareHourlyBarChartData(activityVms);
            await JSRuntime.InvokeVoidAsync("plotStackedBarChart", data, "stackedBarsHours", "Hour of day");
        }
    }
}
