@using DataManagement.Models
@using MudBlazor
@using System.Text.Json
@inject IJSRuntime JSRuntime
<MudDialog>
    <DialogContent>
        <p><b>Type:</b> @HeatmapInput?.Input.First()?.ActivityType</p>
        <p><b>Route:</b></p>

        <div id="map" style="height: 400px; width: 400px; margin-bottom: 16px;"></div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close" Color="Color.Primary">Close</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [Parameter] public HeatMapData? HeatmapInput { get; set; }
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }
    private string? DecodedRoute;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !string.IsNullOrEmpty(HeatmapInput?.Input.First()?.EncodedPolyline))
        {
            string heatMapDataString = JsonSerializer.Serialize(HeatmapInput);
            await JSRuntime.InvokeVoidAsync("initializeHeatMap", heatMapDataString);
        }
    }

    void Close() => MudDialog?.Cancel();
}