@using DataManagement.Models
@using MudBlazor
@using System.Text.Json
@inject IJSRuntime JSRuntime
<MudDialog>
    <DialogContent>
        <p><b>Type:</b> @HeatmapInput?.Input.First()?.ActivityType</p>
        <div id="map" style="height: 500px; width: 500px; margin-bottom: 16px;"></div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close" Color="Color.Primary">Close</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [Parameter] public HeatMapData? HeatmapInput { get; set; }
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }
    private string? DecodedRoute;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !string.IsNullOrEmpty(HeatmapInput?.Input.First()?.EncodedPolyline))
        {
            string heatMapDataString = JsonSerializer.Serialize(HeatmapInput);
            try
            {
                await JSRuntime.InvokeVoidAsync("initializeHeatMap", heatMapDataString);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error initializing heat map: {ex.Message}");
			}
        }
    }

    void Close() => MudDialog?.Cancel();
}